﻿@model WebApplication2.Models.Transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prodactionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prodactionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shelfLife)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shelfLife)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.info)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProducerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProducerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentOwnerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentOwnerId)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
