﻿@model WebApplication2.Models.Transaction

@{
    ViewBag.Title = "Read";
}

<h2>Read</h2>



<div id="Read">
    @using (Html.BeginForm("Read", "Transaction", FormMethod.Post))
    {
    <div class="form-group">
        @Html.LabelFor(model => model.Hash, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Hash, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessage("ReadError", new { @style = "color:red" })
          
        </div>
    </div>
            <tr>
                <td></td>
                <td>
                    <input type="submit" name="name" value="Read" />

                </td>
            </tr>
    }
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

